@page "/"
@rendermode RenderMode.InteractiveServer

<PageTitle>Home</PageTitle>

<BlazorApp.Shared.LifeCycle />

<p>
    information :@Data
</p>

@code {
    [SupplyParameterFromQuery]
    public string? Data { get; set; }


}