<h3>LifeCycle</h3>
<ul>
    @foreach (var step in _steps)
    {
        <li>@step</li>
    }
</ul>

<p>
    @_apiResponse
</p>
<button @onclick="@(()=>_var="tu as cliqué!")">Cliquer !</button>

<SubComponent Data="@_var"/>



